/* Текстовые своойства */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #c8f4f4;
}

h1, h2 {
    font-family: 'Pacifico', cursive;;
}

.img-name {
    font-weight: 700;
    font-size: 22px;
}








/* Отступы */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 35px;
}

h1 {
    margin: 20px 0;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

.img-name {
    margin-top: 30px;
    margin-bottom: 15px;
}

ul,ol {

    padding-left: 30px;
}


/* картинки */

img{
    display: block;
    width: 80%;
    
}
/* видосы */

.vidio{
    display: block;
    width: 80%;
    aspect-ratio: 16/9;
    margin-bottom: 40px;
    
    
}


/* кнопка скачивания */
.button {
    display: block;
    background-color: chartreuse;
    /* min-width: 40%; */
    max-width: 80%;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    padding: 25px 50px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
}
.button:hover{
    background-color: lightgreen;

}


/* шапка сайта */
header{
    background-color: #2f6a6a;
    height: 130px;
}

.меню-контейнер {
    height: 30px;
    padding: 50px 35px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}
.меню-1, .меню-2 {
    color: rgb(236, 247, 32);
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.меню-1 {
    margin-right: 150px;
}


.меню-1:hover, .меню-2:hover{
    color: rgb(243, 247, 198);
}


/* подвал сайта */
footer{
    margin-top: 200px;
    height: 260px;
    background-color: rgb(47, 106, 106);
}

.подвальный-контейнер {
    height: 60px;
    margin:0 auto ;
    max-height: 1000px;
    padding: 100px 35px;
}

.note{
    color: rgb(236, 247, 32) ;

}


/* .note{
    font-size: 16px;
/* margin: 50px 25px 75px 150px; */
  /* margin-top: 50px;  */
  /* margin-bottom: 80px; */
/* }  */

.link{
    text-decoration: none;
    color: rgb(236, 247, 32)ue;
}

.link:visited{
    color: rgb(243, 247, 198);
}

/* оглавление статьи */

.главы {
    display: block;
    text-decoration:none ;
    color: rgb(0, 0, 0);

}

.главы:hover{
    color: rgb(47, 106, 106);
}

.контент{
    /* background-color: deepskyblue; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 30px; */
    border-top: black 3px solid;
    border-bottom:black 3px solid ;
}